
<div class="row">
  <div class="col-sm-6 col-md-3 text-center">
    <%= image_tag gravatar_url(@user.email), alt: @user.username %>
  </div>
  <div class="col-sm-6 col-md-3 text-center">
    <svg id="fillgauge" width="100%" height="200" style="margin-top: 20px"></svg>
    <button type="button" class="btn btn-lg btn-primary" data-toggle="popover" data-placement="top" title="Bierfit User Position" data-content="Representing your total beer consumption in relation to all the other users at Bierfit. The higher the value (in percentage), the closer you are to the top users.">Bierfit Position</button>
  </div>
  <div class="col-sm-12 col-md-6">
    <p class="pull-right">
      <% if @user.drinking? %>
        <span class="badge online">&nbsp;</span> drinking
      <% else %>
        <span class="badge offline">&nbsp;</span> not drinking atm
      <% end %>
    </p>
    <h1><%= @user.username %></h1>
    <p>At bierfit since <%= distance_of_time_in_words_to_now @user.created_at %></p>
    <% if @stats.beers.present? %>
      <dl class="dl-horizontal">
         <dt>Beers</dt>
         <dd>
           From <strong><%=l @stats.first_beer.finished_at.to_date, format: :short %></strong> to 
           <strong><%=l @stats.last_beer.finished_at.to_date, format: :short %></strong>,
           <strong><%= @user.username %></strong> drank a total of
           <strong><%= pluralize(@stats.beers_count, 'beer') %></strong>.
           The number of beer fitting in is <strong><%= pluralize(@stats.max_beer_per_day, 'beer') %></strong>,
           no higher count per day was recorded so far for this fellow. With the
           current overall Bierfit total of <strong><%= pluralize(@stats.total_max_beer_per_day, 'beer') %></strong>,
           this junge is <strong><%= @stats.drinker_in_words %></strong>.
         </dd>
         <dt>Gulps</dt>
         <dd>
           The average gulp <strong><%= @user.username %></strong> is taking from
           a beer is about <strong><%= @stats.average_gulp_amount.to_i %> ml</strong>
           and this takes about <strong><%= @stats.average_gulp_duration.to_i %> seconds</strong>
           per sip.
         </dd>
      </dl>
    <% end %>
  </div>
</div>

<script>
var config = liquidFillGaugeDefaultSettings();
  config.circleColor   = "#D4AB6A";
  config.textColor     = "#553300";
  config.waveTextColor = "#805615";
  config.waveColor     = "#AA7D39";
  config.circleThickness = 0.1;
  config.circleFillGap = 0.1;
  config.textVertPosition = 0.7;
  config.waveAnimateTime = 2000;
  config.waveHeight = 0.4;
  config.waveCount = 1;
var gauge  = loadLiquidFillGauge("fillgauge", <%= @stats.bierfit_position_in_percentage %>, config);
</script>

