
<h1>Consume Events from <%=l @date, format: :short %></h1>

<p>Entries on this day: <%= @consume_events.count %></p>

<p>Switch to <%= link_to 'previous day', consume_events_path(date: @date - 1.day) %>  or <%= link_to 'next day', consume_events_path(date: @date + 1.day) %>...</p>

<p><%= link_to 'delete all', nuke_path, data: { confirm: 'are you surely?'}  %>

<style>
  .graph { width: 1000px; height: 400px; }

  .axis { font: 10px sans-serif; }
  .axis path, .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }
  .axis--x path { display: none; }
  .line { fill: none; stroke: steelblue; stroke-width: 1.5px; }
</style>

<script src="//d3js.org/d3.v3.min.js"></script>


<%= render partial: 'graph', locals: { value: 'analog_reading' } %>
<%= render partial: 'graph', locals: { value: 'voltage_reading_in_mv' } %>
<%= render partial: 'graph', locals: { value: 'fsr_resistance_in_ohms' } %>
<%= render partial: 'graph', locals: { value: 'conductance_in_micromhos' } %>
<%= render partial: 'graph', locals: { value: 'force_in_newtons' } %>
