<!DOCTYPE html>
<html>
<head>
  <title>Bierfit - Fitness Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller].split('/').first %>">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <%= link_to root_path, class: 'brand' do %>
        <%= image_tag 'logo-header', alt: "Bierfit Logo" %>
      <% end %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <%= render partial: 'devise/shared/nav' %>
      <%= render partial: 'shared/nav' %>
    </div>
  </nav>

  <div class="container">



    <div class="site-wrapper-inner">

        <div class="row">
          <h1><%= page_title %></h1>

          <% flash.each do |key,message| %>
            <div class="alert alert-<%= key %>"><%= message %></div>
          <% end %>

          <%= yield %>
        </div>


    </div>

  </div>

  <footer class="footer">
    <div class="container">
      <p>Visit <%= link_to 'Bierfit at github', 'http://github.com/unused/bierfit' %></p>
    </div>
  </footer>

</body>
</html>
