<!DOCTYPE html>
<html>
<head>
  <title>Bierfit - Fitness Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller].split('/').first %>">

<div class="site-wrapper">

  <div class="site-wrapper-inner">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"><%= link_to 'Bierfit', root_path %></h3>
          <nav>
            <ul class="nav masthead-nav">
              <% if user_signed_in? %>
                <%= content_tag :li, link_to('Dashboard', dashboard_index_path) %>
                <%= content_tag :li, link_to('Admin', admin_users_path) if current_user.admin? %>
                <%= content_tag :li, link_to('Logout', destroy_user_session_path, method: :delete) %>
              <% else %>
                <%= content_tag :li, link_to('Login', new_user_session_path) %>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading"><%= page_title %></h1>

        <% flash.each do |key,message| %>
          <div class="alert alert-<%= key %>"><%= message %></div>
        <% end %>

        <%= yield %>
      </div>

      <div class="mastfoot">
        <div class="inner">Visit <%= link_to 'Bierfit at github', 'http://github.com/unused/bierfit' %></div>
      </div>

  </div>

</div>
</body>
</html>
